# External Secrets Operator policy
# Allows reading secrets from the flux/ path
path "secret/data/k8s/*" {
  capabilities = ["read"]
}

path "secret/metadata/k8s/*" {
  capabilities = ["list", "read"]
}
