export SOPS_AGE_KEY_FILE="$(expand_path ./.agekey)"
export KUBECONFIG="$(expand_path ./k8s/kubeconfig)"
PATH_add bin
PATH_add ansible/bin
PATH_add k8s/bin

export $(sops -d --output-type dotenv terraform/env.sops.yaml | xargs)
