#jinja2:variable_start_string:'[[', variable_end_string:']]', trim_blocks: False
---
[[NAME]]:
  container:
    image: [[IMAGE]]
    ports:
      - "{{ net_svc.[[NAME]].port }}:[[PORT]]"
    volumes:
      - "{{ common_apps_dir }}/[[NAME]]/data:/data"
    env:
      DUMMY: "text"

  traefik:

  uptime:
    group: services
