# vi: ft=yaml

libraries:

  Movies:
    metadata_path:
      - pmm: imdb
    overlay_path:
      - reapply_overlays: false
      - remove_overlays: false
      - pmm: resolution
        template_variables:
          horizontal_align: center
      - pmm: languages
        template_variables:
          horizontal_position: left
          horizontal_offset: 100
          vertical_position: top
          vertical_offset: 35
          style: half
      - pmm: ratings
        template_variables:
          rating1: critic
          rating1_image: rt_tomato
          rating2: audience
          rating2_image: rt_popcorn
          rating3: user
          rating3_image: imdb
          horizontal_position: left
          vertical_position: bottom
          rating_alignment: horizontal
          vertical_offset: 15
          horizontal_offset: 0
      # - pmm: ribbon
    operations:
      # delete_collections:
      #   configured: false
      #   managed: false
      # # mass_critic_rating_update: mdb_tomatoes
      # # mass_audience_rating_update: mdb_tomatoesaudience
      # mass_user_rating_update: imdb
      # mass_collection_mode: show_items

  TV Shows:
    metadata_path:
      - pmm: imdb
    overlay_path:
      - reapply_overlays: false
      - remove_overlays: false
      - pmm: ratings
        template_variables:
          rating1: critic
          rating1_image: tmdb
          rating2: user
          rating2_image: imdb
          horizontal_position: left
          vertical_position: bottom
          rating_alignment: horizontal
          vertical_offset: 15
          horizontal_offset: 0
      # - pmm: ribbon
    operations:
      # delete_collections:
      #   configured: false
      #   managed: false
      # mass_episode_critic_rating_update: tmdb
      # mass_episode_user_rating_update: imdb

plex:
  url: http://localhost:32400
  token: {{ vault_plex_token }}

tmdb:
  apikey: {{ vault_tmdb_api }}
  language: en

mdblist:
  apikey: "{{ vault_mdblist_api }}"
