#jinja2:variable_start_string:'[[', variable_end_string:']]', trim_blocks: False
---

global:
  checkNewVersion: true
  sendAnonymousUsage: true

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    forwardedHeaders:
      trustedIPs: [[ cloudflare_ips + network_cidr.all ]]
    http:
      tls:
        options: tls-opts@file
        certresolver: dns-cloudflare
        domains:
          - main: "[[ network_domain.tld ]]"
            sans:
              - "*.[[ network_domain.tld ]]"
          - main: "[[ network_domain.tld_personal ]]"
            sans:
              - "*.[[ network_domain.tld_personal ]]"
  traefik:
    address: :8080

providers:
  file:
    directory: /configs
    watch: true
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false

certificatesResolvers:
  dns-cloudflare:
    acme:
{% if testing is defined %}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
      email: [[ common_email ]]
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 60
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53

log:
  filePath: /logs/traefik.log
  level: DEBUG

accessLog:
  filePath: /logs/access.log
  bufferingSize: 100
  fields:
    names:
      StartUTC: drop
  # filters:
  #   statusCodes:
  #     - "204-299"
  #     - "400-499"
  #     - "500-599"
