---
crowdsec_lapi_url: http://localhost:8080/
crowdsec_lapi_key: {{ vault_crowdsec_cf_lapi_key }}
crowdsec_update_frequency: 10s
include_scenarios_containing: [] # ignore IPs banned for triggering scenarios not containing either of provided word
exclude_scenarios_containing: [] # ignore IPs banned for triggering scenarios containing either of provided word
only_include_decisions_from: [] # only include IPs banned due to decisions orginating from provided sources. eg value ["cscli", "crowdsec"]
cloudflare_config:
  accounts:
    - id: {{ vault_cloudflare_account }}
      zones:
        - zone_id: {{ vault_cloudflare_zone_id }}
          actions:
            - managed_challenge
      token: {{ vault_crowdsec_cf_token }}
      ip_list_prefix: crowdsec
      default_action: managed_challenge
      total_ip_list_capacity: 10000 # only this many latest IP decisions would be kept
  update_frequency: 10s
daemon: true
log_mode: file
log_dir: /var/log/
log_level: info
log_max_size: 40
log_max_age: 30
log_max_backups: 3
compress_logs: true
prometheus:
  enabled: true
  listen_addr: 127.0.0.1
  listen_port: "2112"
key_path: ""
cert_path: ""
ca_cert_path: ""
