---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
    ignore:
      - paths: [/spec/replicas]
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00
            env:
              DOT: off
              DNS_ADDRESS: 10.43.0.10  # CoreDNS
              HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              FIREWALL_INPUT_PORTS: 80,8388,9999  # 80: WebUI, 8388 Socks Proxy, 9999 Kube Probes
              FIREWALL_INPUT_SUBNETS: 10.42.0.0/16,10.43.0.0/16  # Allow inbound traffic from k8s subnets
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/16,10.43.0.0/16  # Allow access to k8s subnets
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_SUCCESS_WAIT_DURATION: 10s
              VPN_TYPE: wireguard
              VPN_PORT_FORWARDING: on
              PORT_FORWARD_ONLY: on
              VPN_INTERFACE: tun0
              SERVER_COUNTRIES: Australia
              SERVER_CITIES: Melbourne
              UPDATER_PERIOD: 24h
              VPN_SERVICE_PROVIDER: protonvpn
              WIREGUARD_ADDRESSES: 10.2.0.2/32
            envFrom:
              - secretRef:
                  name: gluetun
            probes:
              liveness:
                enabled: true
                custom: true
                spec: &probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        [ $(wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/openvpn/portforwarded) != '{"port":0}' ]
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 1
                  failureThreshold: 30
              startup:
                enabled: true
                custom: true
                spec:
                  <<: *probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/publicip/ip
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - >-
                      (ip rule del table 51820; ip -6 rule del table 51820) || true
            restartPolicy: Always
            securityContext:
              # can't be non-root, or it has no access to tunnel
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false  # wants to create a user, etc
              capabilities:
                add: [NET_ADMIN]
            resources:
              requests:
                cpu: 20m
              limits:
                squat.ai/tun: 1
                memory: 256Mi
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.2@sha256:31ac39705e31f7cdcc04dc46c1c0b0cdf8dc6f9865d4894efc097a33adc41524
            env:
              UMASK: '022'
              QBT_WEBUI_PORT: &port 80
              PUSHOVER_ENABLED: true
              GLUETUN_CONTROL_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: gluetun
                    key: GLUETUN_CONTROL_SERVER_API_KEY
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi
          port-forward:
            image:
              repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              tag: 0.0.4@sha256:838ba41b3c736b23ae30f7e79a2610173f389a5ac6fb2b3e9c7bd482b9353c18
            env:
              GLUETUN_CONTROL_SERVER_HOST: localhost
              GLUETUN_CONTROL_SERVER_PORT: 8000
              GLUETUN_CONTROL_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: gluetun
                    key: GLUETUN_CONTROL_SERVER_API_KEY
              QBITTORRENT_HOST: localhost
              QBITTORRENT_WEBUI_PORT: *port
              CRON_ENABLED: true
              CRON_SCHEDULE: '*/5 * * * *'
              LOG_TIMESTAMP: false
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 32Mi
            securityContext: *securityContext
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        primary: true
        forceRename: *app
        ports:
          http:
            primary: true
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.sbbh.cloud"
          - "qb.sbbh.cloud"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    configMaps:
      config:
        data:
          .qbt.toml: |
            [qbittorrent]
            addr = "http://localhost:80"
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          *app :
            app:
              - path: /config
      config-file:
        type: configMap
        name: *app
        advancedMounts:
          *app :  # in qbit config, set "on torrent add" to "/config/qbrr --hash "%I" && qbt tag delete "cross-seed""
            app:
              - path: /config/.qbt.toml
                subPath: .qbt.toml
                readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            port-forward:
              - path: /config
                subPath: config
      gluetun-auth:
        type: secret
        name: '{{ .Release.Name }}-gluetun'
        advancedMounts:
          *app :
            gluetun:
              - path: *gluetunAuthPath
                subPath: auth.toml
      media:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/downloads
        globalMounts:
          - path: /media/downloads
