#jinja2: lstrip_blocks: True
http:
  routers:
  {% if app.traefik.routers is defined %}
    {% for route in app.traefik.routers %}
    {{ route.name }}-rtr:
      rule: "{{ route.rule }}"
      entryPoints:
        - websecure
      middlewares:
      {% if route.middlewares is defined %}
        {%- for middleware in route.middlewares %}
        - {{ middleware }}
        {% endfor %}
      {% else %}
        - chain-auth
      {% endif %}
      {% if route.service is defined %}
      service: {{ route.service }}
      {% else %}
      service: {{ app.name }}-svc
      {% endif %}
    {% endfor %}
  {% else %}
    {{ app.name }}-rtr:
      rule: "Host(`{{ app.traefik.name | default(app.name) }}.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
      {% if app.traefik.rtr_middlewares is defined %}
        {%- for middleware in app.traefik.rtr_middlewares %}
        - {{ middleware }}
        {% endfor %}
      {% else %}
        - chain-auth
      {% endif %}
      service: {{ app.name }}-svc
  {% endif %}

  {% if app.traefik.middlewares is defined %}
  middlewares:
    {{ app.traefik.middlewares | indent(width=4) }}
  {%- endif %}

  services:
  {% if app.traefik.services is defined %}
    {{ app.traefik.services | indent(width=4) }}
  {% else %}
    {{ app.name }}-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc[app.name].host | default(network_svc[app.name].ip) }}:{{ network_svc[app.name].port }}"
  {%- endif %}

  {% if app.traefik.serversTransports is defined %}
  serversTransports:
    {{ app.traefik.serversTransports | indent(width=4) }}
  {%- endif %}
