#jinja2: lstrip_blocks: True
http:
  routers:
  {% if traefik_config.routers is defined %}
    {% for route in traefik_config.routers %}
    {{ route.name }}-rtr:
      rule: "{{ route.rule }}"
      entryPoints:
        - websecure
      middlewares:
      {% if route.middlewares is defined %}
        {%- for middleware in route.middlewares %}
        - {{ middleware }}
        {% endfor %}
      {% else %}
        - local-only
      {% endif %}
      {% if route.service is defined %}
      service: {{ route.service }}
      {% else %}
      service: {{ _app_name }}-svc
      {% endif %}
    {% endfor %}
  {% else %}
    {{ _app_name }}-rtr:
      rule: "Host(`{{ traefik_config.name | default(_app_name) }}.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
      {% if traefik_config.rtr_middlewares is defined %}
        {%- for middleware in traefik_config.rtr_middlewares %}
        - {{ middleware }}
        {% endfor %}
      {% else %}
        - local-only
      {% endif %}
      service: {{ _app_name }}-svc
  {% endif %}

  {% if traefik_config.middlewares is defined %}
  middlewares:
    {{ traefik_config.middlewares | indent(width=4) }}
  {%- endif %}

  services:
  {% if traefik_config.services is defined %}
    {{ traefik_config.services | indent(width=4) }}
  {% else %}
    {{ _app_name }}-svc:
      loadBalancer:
        servers:
        {% if traefik_config.url is defined %}
          - url: "{{ traefik_config.url | indent(width=10) }}"
        {% else %}
          - url: "http://{{ network_svc[_app].host | default(network_svc[_app].ip) }}:{{ network_svc[_app].port }}"
        {%- endif %}
  {%- endif %}

  {% if traefik_config.serversTransports is defined %}
  serversTransports:
    {{ traefik_config.serversTransports | indent(width=4) }}
  {%- endif %}
