[defaults]
inventory            = inventory.ini
nocows               = true
vault_password_file  = ~/.ansible_vault
jinja2_native        = true
verbosity            = 1
stdout_callback      = community.general.yaml
callbacks_enabled    = ansible.posix.json, ansible.posix.timer
log_path             = ~/.ansible/ansible.log
roles_path           = ./roles:~/.ansible/roles
host_key_checking    = false
vars_plugins_enabled = host_group_vars, community.sops.sops

[privilege_escalation]
become               = true

[connection]
pipelining           = true

[diff]
always               = true
