http:
  routers:
    authentik-rtr:
      rule: "Host(`auth.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: authentik-svc
    authentik-rtr-outpost:
      rule: "HostRegexp(`{subdomain:[a-z0-9-]+}.{{ network_domain.tld }}`) && PathPrefix(`/outpost.goauthentik.io/`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: authentik-svc-outpost
  services:
    authentik-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.authentik.host }}:{{ network_svc.authentik.port }}"
    authentik-svc-outpost:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.authentik.host }}:{{ network_svc.authentik.port }}/outpost.goauthentik.io"
