---

http:
  routers:
    plex-rtr:
      rule: "Host(`plex.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: plex-svc
  services:
    plex-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.plex.host }}:{{ network_svc.plex.port }}"
