http:
  routers:
    audiobookshelf-rtr:
      rule: "Host(`audiobookshelf.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: audiobookshelf-svc
  services:
    audiobookshelf-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.audiobookshelf.host }}:{{ network_svc.audiobookshelf.port }}"
