---

http:
  routers:
    uptimekuma-rtr-status:
      rule: "Host(`status.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
        - uptimekuma-status
      service: uptimekuma-svc
    uptimekuma-rtr:
      rule: "Host(`uptime.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: uptimekuma-svc
  middlewares:
    uptimekuma-status:
      replacePathRegex:
        regex: "^/$"
        replacement: "/status/homelab"
  services:
    uptimekuma-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.uptimekuma.host }}:{{ network_svc.uptimekuma.port }}"
