---

http:
  routers:
    prowlarr-rtr-bypass:
      rule: "Host(`prowlarr.{{ network_domain.tld }}`) && Headers(`X-API-KEY`, `{{ media_prowlarr_api }}`)"
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: prowlarr-svc
    prowlarr-rtr:
      rule: "Host(`prowlarr.{{ network_domain.tld }}`)"
      priority: 99
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: prowlarr-svc
  services:
    prowlarr-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.prowlarr.host }}:{{ network_svc.prowlarr.port }}"
