---

http:
  routers:
    pihole-rtr-bypass:
      rule: "Host(`pihole.{{ network_domain.tld }}`) && Query(`auth={{ network_svc.dns.api }}`)"
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: pihole-svc
    pihole-rtr:
      rule: "Host(`pihole.{{ network_domain.tld }}`)"
      priority: 99
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
        - pihole-strip-admin
        - pihole-add-admin
      service: pihole-svc
  middlewares:
    pihole-strip-admin:
      stripPrefix:
        prefixes:
          - "/admin"
    pihole-add-admin:
      addPrefix:
        prefix: "/admin"
  services:
    pihole-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.dns.ip }}"
