---

http:
  routers:
    netbootxyz-rtr:
      rule: "Host(`netbootxyz.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: netbootxyz-svc
  services:
    netbootxyz-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.netbootxyz.host }}:{{ network_svc.netbootxyz.port }}"
