---

http:
  routers:
    sonarr-rtr-bypass:
      rule: "Host(`sonarr.{{ network_domain.tld }}`) && Headers(`X-API-KEY`, `{{ media_sonarr_api }}`)"
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: sonarr-svc
    sonarr-rtr:
      rule: "Host(`sonarr.{{ network_domain.tld }}`)"
      priority: 99
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: sonarr-svc
  services:
    sonarr-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.sonarr.host }}:{{ network_svc.sonarr.port }}"
