---

http:
  routers:
    portainer-rtr:
      rule: "Host(`portainer.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: portainer-svc
  services:
    portainer-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.portainer.host }}:{{ network_svc.portainer.port }}"
