http:
  routers:
    overseerr-rtr:
      rule: "Host(`requests.{{ network_domain.tld }}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: overseerr-svc
  services:
    overseerr-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.overseerr.host }}:{{ network_svc.overseerr.port }}"
