---

http:
  routers:
    bazarr-rtr-bypass:
      rule: "Host(`bazarr.{{ network_domain.tld }}`) && Headers(`X-API-KEY`, `{{ media_bazarr_api }}`)"
      priority: 100
      entryPoints:
        - websecure
      middlewares:
        - chain-no-auth
      service: bazarr-svc
    bazarr-rtr:
      rule: "Host(`bazarr.{{ network_domain.tld }}`)"
      priority: 99
      entryPoints:
        - websecure
      middlewares:
        - chain-auth
      service: bazarr-svc
  services:
    bazarr-svc:
      loadBalancer:
        servers:
          - url: "http://{{ network_svc.bazarr.host }}:{{ network_svc.bazarr.port }}"
