---
http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          logLevel: DEBUG
          crowdsecLapiKey: {{ _crowdsec_bouncer_api_key }}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          clientTrustedIPs: {{ network_cidr.all }}
          redisCacheEnabled: true
          redisCacheHost: "redis-traefik-cs:6379"
          redisCachePassword: {{ vault_redis_cs_pass }}
          redisCacheDatabase: "3"
